h3.title Stars
    a.copy(href='#try') (try this)
pre.code repeat 6 [ penup rt 60 fd 100 pendown repeat 6 [ repeat 2 [ rt 30 fd 25 rt 90 ] lt 180 ]]

h3.title Dandelion Flower
    a.copy(href='#try') (try this)
pre.code
    | clear
    | penup
    | rt 180
    | fd 200
    | rt 180
    | pendown
    | repeat 10 [ lt 5 fd 15 ]
    | penup
    | lt 90
    | fd 20
    | pendown
    | repeat 18 [ rt 25 fd 15 lt 10 fd 8 rt 5 fd 5 ]
    | home